.footer {
    background: #000;
    color: #fff;
    /*padding: 60px 40px 20px;*/

}
.footer svg {
    height: 186px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;
    width: 90%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 40px;
}

/* Facebook */
.footer-facebook {
    width: 300px;
}

/* Links */
.footer-links {
    flex: 1;
    width: 20px;
}

.footer-links h3 {
    margin-bottom: 20px;
    padding-bottom: 5px;
    position: relative;
    display: inline-block;
    border-bottom: none;
}

.footer-links h3::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 345px; /* change this */
    height: 1px;
    background: #fff;
}


.footer-links-grid {
    display: flex;
    gap: 60px;
}

.footer-links-grid ul {
    list-style: none;
    padding: 0;
}

.footer-links-grid li {
    margin-bottom: 8px;
}

.footer-links-grid a {
    color: #fff;
    text-decoration: none;
    position: relative;
    display: inline-block;
}

.footer-links-grid a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 1px;
    background: #fff;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.25s ease;
}

.footer-links-grid a:hover::after,
.footer-links-grid a:focus-visible::after {
    transform: scaleX(1);
}

.footer-links-grid a:hover,
.footer-links-grid a:focus-visible {
    text-decoration: none;
}

.footer-extra {
    margin-top: 20px;
    font-size: 14px;
}

.footer-extra a {
    color: #fff;
    text-decoration: none;
    position: relative;
}

.footer-extra a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 1px;
    background: #fff;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.25s ease;
}

.footer-extra a:hover::after,
.footer-extra a:focus-visible::after {
    transform: scaleX(1);
}

.footer-extra a:hover,
.footer-extra a:focus-visible {
    text-decoration: none;
}

/* Logo */
.footer-logo {
    flex: 0 0 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 300px;
}

.footer-logo .logo {
    width: 100%;
    display: flex;
    justify-content: center;
}

.footer-logo .logo svg {
    width: 280px;
    height: 174px;
    display: block;
    margin: 0 auto;
}

.footer-logo p {
    margin-top: 10px;
    font-style: italic;
}

/* Bottom */
.footer-bottom {
    background: var(--white-color);
    color: var(--black-color);
    text-align: center;
    font-size: 14px;
    border-top: 1px solid #222;
    padding: 10px;
}