main {
    min-height: 100vh;
    padding-top: 100px;
    padding-bottom: 100px;
}
.map-container{
    width: 90%;
    max-width: 1300px;
    margin: 5rem auto 0 auto;
}
.map-container>div{
    width: 100%;
}
.map-container>div img{
    width: 100%;
}
area{
    cursor: pointer;
    background: black;
}