#winkelList{
    margin: 20px auto;
    padding: 0;
    overflow: hidden;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
}

button {
    font-family: var(--title-font) ;
}