#winkelList{
    margin: 20px auto;
    padding: 0;
    overflow: hidden;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

button {
    font-family: var(--title-font) ;
}

#winkels-li {
    list-style: none;
    display: inline-block;
    width: 30%;
    padding: 16px;
    border: 1px solid blue;
}
